torch
transformers
peft
datasets
nnsight
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
tqdm
huggingface_hub
bitsandbytes
omegaconf
diffusers
einops
accelerate
git+https://github.com/g-luo/generative_latent_prior.git
